.bg-blue {
    padding: 30px;
    border-radius: 50%;
    background-color: #428bca;
}

body {
    text-align: center;
}

h2 {
    font-size: 30px;
    padding-bottom: 20px;
}

@media screen and (max-width: 767px) {
    .bg-yellow {
        background-color: #f2f2cd;
        padding: 10px;
    }
    h2 {
        margin-top: 15px;
    }
    .logo200,
    .logo250 {
        height: 120px;
    }
    
    #where p,
    #how p {
        padding-bottom: 20px;
    }
    #why img {
        margin-top: 30px;
    }
    hr {
        border: 1px solid black;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px){
    
    h2 {
        padding-top: 20px;
    }
    .logo200, 
    .logo250{
        height: 180px;
    }
    #why.bg-grey {
        background-color: #f9f9f9;
    }
    #where {
        background-color: #f2f2cd;
    }
    #where div,
    #how div,
    #why div {
        padding: 20px;
    }

    #why img {
        margin-top: 30px;
    }
    #why p {
        padding-bottom: 20px;
    }
}

@media screen and (min-width: 992px) {

    h3 {
        padding: 20px;
    }
    .logo200 {
        height: 200px;
    }
    .logo250 {
        height: 250px;
    }
    .bg-grey {
        background-color: #f9f9f9;
    }
    #where h2 {
        padding-top: 120px;
    }
    #how {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    #why p {
        padding-bottom: 10px;
    }
    #why img {
        margin-top: 60px;
    }

}